<!DOCTYPE html>
<html>
<head>
    <title>Información de Pokémon</title>
</head>
<body>
    <h1>Información de Pokémon</h1>

    {% if nombre %}
    <h2>Nombre del Pokémon: {{ nombre }}</h2>
    <p>Tipo(s): {{ tipos | join(', ') }}</p>
    {% endif %}

    {% if pokemon_azar %}
    <h2>Pokémon al Azar de Tipo {{ tipo }}:</h2>
    <p>Nombre: {{ pokemon_azar }}</p>
    {% endif %}

    {% if pokemon_mas_largo %}
    <h2>Pokémon con el Nombre más Largo de Tipo {{ tipo }}:</h2>
    <p>Nombre: {{ pokemon_mas_largo }}</p>
    {% endif %}
</body>
</html>


